{{ define "main" }}
<p class="chapter-heading">05. A Tryhard in a Whytry World</p>
<div class="intro">
{{ .Content }}
</div>

<div class="newsletter-signup">
  <p>In theory, I write about the intersection of commerce, creativity, and curiosity, all playing out in the ultimate funhouse mirror to the world: Los Angeles. In reality, I talk about whatever I want to talk about and I happen to be living in LA.</p>
  <iframe src="https://loganeastman.substack.com/embed" style="border: 1px solid #EEE; background: white; width: 100%; max-width: 480px; height: 320px;" frameborder="0" scrolling="no"></iframe>
</div>

{{ if .Pages }}
<h2>Archive</h2>
<ul class="writing-list">
  {{ range .Pages.ByDate.Reverse }}
  <li>
    <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
    <span class="post-meta">
      <span class="post-date">{{ .Date.Format "Jan 2006" }}</span>
    </span>
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
